<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.followme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.LocationService" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBAPfyK6bmu-V4VRtxhcfVrY4PUZpYph0o" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ab028ef624f1c4bd5ee4d29c497a2c32b820bb1a" />
    </application>

</manifest>